<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>My Project Theme <%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p></p>
    <h3>Our team members <%= name %></h3>
    <h3>Our id is <%= id %></h3>
  </body>
</html>